{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
    <h1 class="govuk-heading-l govuk-!-margin-top-2">Sign in</h1>
    <div class="govuk-inset-text govuk-!-margin-bottom-4">
        <strong>Training application:</strong> Do not enter real credentials or personal data. Use test/demo values only.
    </div>
    {% if error %}
    <div class="govuk-error-summary" role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>{{ error }}</li>
            </ul>
        </div>
    </div>
    {% endif %}
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-form-group">
            <label class="govuk-label" for="email">Email address</label>
            <input class="govuk-input" id="email" name="email" type="email" autocomplete="email" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="password">Password</label>
            <input class="govuk-input" id="password" name="password" type="password" autocomplete="current-password" required>
        </div>
        <button class="govuk-button" data-module="govuk-button">Sign in</button>
    </form>
</div>
{% endblock %}
